<%- include ('partials/head') %>
<%- include('partials/header') %>

<body>
    <div class="contactmain1">
        <div class="cntoverlay">
            <h1>Connect With Us</h1>
        </div>
    </div>
    <div class="contactmain2">
        <div>
            <h2>Get in Touch With ANBROAD</h2>
            <p>We’re here to connect, support, and answer your questions.Whether you're a broadcaster looking to join our community, a media professional with inquiries, or just curious about what we do, we’d love to hear from you! </p>
        </div>
    </div>

</body>
<%- include('partials/footer') %>