<%- include ('partials/head') %>
<%- include('partials/header') %>

<body>
    <div class="contactmain1">
        <div class="cntoverlay">
            <h1>Connect With Us</h1>
        </div>
    </div>
    <div class="contactmain2">
        <div>
            <h2>Get in Touch With ANBROAD</h2>
            <p>We’re here to connect, support, and answer your questions.Whether you're a broadcaster looking to join our community, a media professional with inquiries, or just curious about what we do, we’d love to hear from you! </p>
        </div>
    </div>


    <div class="contact-map">
        <div class="map-header">
          <h2>Our Location</h2>
          <p>Visit us at our office or contact us using the information below.</p>
        </div>
        <div class="map-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345090454!2d144.9537353153176!3d-37.81627997975121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf577f3aa1b56e345!2sFederation%20Square!5e0!3m2!1sen!2sau!4v1699800203684!5m2!1sen!2sau"
            width="400"
            height="250"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      

</body>
<%- include('partials/footer') %>