<%- include('partials/head') %>
<%- include('partials/header') %>
<body>
    <section class="section1">
        <div>
            <div>
                <span>Connecting You to Nigeria's Best Voice in Broadcasting</span>
            <p class="note">Discover, Watch, and Listen to Your Favorite Broadcasters. Explore a vibrant world of radio and television personalities, exclusive content, and the powerful voices shaping 
                Nigeria's media landscape.</p>
            </div>
            <div class="action">
                <input type="button" value="Explore broadcasters">
                <input type="button" value="Become a member">
            </div>
        </div>
        <br>
    </section>
    <section class="section2" id="smallabout">
        <div>
            <h2>Who we are</h2>
            <p>The Association of Nigerian Broadcasters (ANBROAD) is dedicated to empowering and uniting broadcasting professionals across Nigeria. With a mission to foster collaboration, provide professional development, and represent the interests of broadcasters, ANBROAD is the central hub for the broadcasting community.</p>
            <button><a href="#">Learn More</a></button>
        </div>
        <div>
            <img src="/pictures/groupimage.jpeg" alt="ANBROAD group picture">
        </div>
    </section>
    <section class="section3" id="smallbroadcasters">
        <div class="section3header">
            <span>Our Executives</span>
            <button id="nextButton">
                <svg width="40" height="40" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="24" stroke="black" stroke-width="2" fill="none" />
                    <path d="M12 25 H32 M32 25 L26 20 M32 25 L26 30" stroke="black" stroke-width="2" fill="none" />
                </svg>
            </button>
        </div>
        <div class="carousel">
            <div class="carousel-track">
                <div class="card">
                    <img src="/pictures/carousel1.jpeg" alt=" (Mr G.R.A) MCA/Arpa ">
                    <div class="card-info">
                        <p>Alh Abdulrasaq Abdulganeey <br> (Mr G.R.A)
                            <br>
                            President</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/pictures/carousel2.jpeg" alt="Yekeen Nasir">
                    <div class="card-info">
                        <p>Com. Yemi Sonde
                            <br> Chairman, Council of Elders</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/pictures/carousel3.jpeg" alt="Person 2">
                    <div class="card-info">
                        <p>Chief Mrs. Ibiyemi Ajadi
                             <br>
                             Iya Cordinator</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/pictures/carousel4.jpeg" alt="Person 3">
                    <div class="card-info">
                        <p>Prince Kolade Alabi</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/pictures/carousel5.jpeg" alt="Person 4">
                    <div class="card-info">
                        <p>Alh Abdulfatai Adeniyi
                            Dan Kazeem</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/pictures/carousel6.jpeg" alt="Person 1">
                    <div class="card-info">
                        <p>Alh Sulaiman Adegbenro 
                            Consoligbadun <br>
                            B.O.T Chairman</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/pictures/carousel7.jpeg" alt="Yekeen Nasir">
                    <div class="card-info">
                        <p>Alh. Bisi Ajiboye Sogigun</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/pictures/carousel8.jpeg" alt="Person 2">
                    <div class="card-info">
                        <p>Chief Abbey Fagboro</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/pictures/carousel9.jpeg" alt="Person 3">
                    <div class="card-info">
                        <p>Alh Gboyega Lawal</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/pictures/carousel5.jpeg" alt="Person 4">
                    <div class="card-info">
                        <p>Yasir Malik <br>
                        Video Gamer comp.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section4" id="smallmembership">
        <h3>Benefits of Membership</h3>
        <div class="section4-container">
            <div class="section4-card">
                <img src="/pictures/section4b.png" alt="Benefit 1">
                <h4>Exclusive Resources</h4>
                <p>Access training programs, webinars, and industry insights.</p>
                <a href="#">Learn More</a>
            </div>
            <div class="section4-card">
                <img style="object-fit: cover;" src="/pictures/representation.jpeg" alt="Benefit 2">
                <h4>Representation</h4>
                <p>Be part of a collective voice that advocates for broadcasters’ rights and benefits.</p>
                <a href="#">Learn More</a>
            </div>
            <div class="section4-card">
                <img src="/pictures/networking.jpeg" alt="Benefit 3">
                <h4>Industry Networking</h4>
                <p>Connect with top broadcasters and media professionals across Nigeria.</p>
                <a href="#">Learn More</a>
            </div>
            <div class="section4-card">
                <img src="/pictures/section4d.png" alt="Benefit 4">
                <h4>Career Growth</h4>
                <p>Enhance your skills through our professional development opportunities.</p>
                <a href="#">Learn More</a>
            </div>
            <div class="section4-card">
                <img src="/pictures/section4e.png" alt="Benefit 5">
                <h4>Events & Activities</h4>
                <p>Participate in annual conferences, meetups, and special initiatives hosted by ANBOARD.</p>
                <a href="#">Learn More</a>
            </div>
            <div class="section4-card">
                <img src="/pictures/section4f.png" alt="Benefit 6">
                <h4>Career Opportunities</h4>
                <p>Be recognized for your contributions and achievements.</p>
                <a href="#">Learn More</a>
            </div>
        </div>
        <a href="#"><button class="join-button">Become a Member Today</button></a>
    </section>
    <section class="section5">
        <h3>Member Testimonials</h3>
        <div class="carousel-container">
            <!-- Carousel wrapper -->
            <div class="carousel-slide">
                <!-- Carousel items -->
                <div class="testimonial">
                    <img src="/pictures/testimonial1.jpeg" alt="Testimonial Image">
                    <div>
                        <span>The Association of Nigerian Broadcasters (ANBROAD) is dedicated to empowering and uniting broadcasting professionals across Nigeria. With a mission to foster collaboration, provide professional development, and represent the interests of broadcasters, ANBROAD is the central hub for the broadcasting community.</span>
                        <span><b>Akintunde Oyelade Orolomo</b><br>Osun ANBROAD Gov</span>
                    </div>
                </div>
                <div class="testimonial">
                    <img src="/pictures/testimonial2.jpeg" alt="Testimonial Image">
                    <div>
                        <span>ANBROAD has provided incredible networking opportunities and insights into the industry, helping us stay at the forefront of broadcasting.</span><br>
                        <span><b>Akolade Adekola </b><br>Corporate Communications Secretary</span>
                    </div>
                </div>
                <div class="testimonial">
                    <img src="/pictures/testimonial3.jpeg" alt="Testimonial Image">
                    <div>
                        <span>Through ANBROAD, I have gained professional training and a platform to share ideas with industry leaders across Nigeria.</span><br>
                        <span><b>Hajia Ramat Lawal</b>
                            <br>Kwara State Anbroad Gov</span>
                    </div>
                </div>
                <div class="testimonial">
                    <img src="/pictures/testimonial4.jpeg" alt="Testimonial Image">
                    <div>
                        <span>ANBROAD brings broadcasters together, creating a space to discuss challenges and celebrate successes in Nigerian broadcasting.</span><br>
                        <span><b>Olawoye olufunke Tinuola </b><br>National Auditor 1</span>
                    </div>
                </div>
                <div class="testimonial">
                    <img src="/pictures/testimonial5.jpeg" alt="Testimonial Image">
                    <div>
                        <span>Being part of ANBROAD has elevated my understanding of broadcasting and helped my career grow exponentially.</span><br>
                        <span><b>Evang Bayo Famoroti </b><br>National Fin Sec.</span>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <button class="carousel-control prev">&#10094;</button>
            <button class="carousel-control next">&#10095;</button>
        </div>
    </section>
    <section class="section6" id="smallnews">
        <h2>Latest Posts<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 5L15 12L8 19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </h2>
        <div class="postvid">
            <div class="contentvid">
                <video src="/videos/vid1.mp4" controls></video>
                <h2>Let's Get Political</h2>
                <p>Join the conversation as we dive into current political issues, explore diverse perspectives, and empower informed engagement!</p>
                <p>
                    Posted by Alabi Seun <br>
                    <time datetime="29/10/2024">29th October 2024</time>
                </p>
            </div>
            <div class="contentvid">
                <video src="/videos/vid2.mp4" controls></video>
                <h2>A Win is a Win</h2>
                <p>Celebrating victories, big or small, and the lessons learned along the way!</p>
                <p>
                    Posted by Eno James <br>
                    <time datetime="29/10/2024">15th October 2024</time>
                </p>
            </div>
        </div>
        <div class="sectionsmall">
            <div class="postall"><a href="#"><button>See all Posts</button></a></div>
        </div>
    </section>

    <br>
    <section class="section7">
        <div>
            <span>Get involved with ANBROAD today</span>
            <a href="#"><button>join us now</button></a>
        </div>
    </section>
    
    
    
    
</body>

<%- include('partials/footer')%>


