body {
    margin: 0;
    padding: 0;
    background-color: var(--blue);
    font-family: Arial, sans-serif;
    font-size: clamp(16px, 2vw + 1rem, 24px);
}
.anboardheader {
    scroll-snap-align: start;
    width: 100%;
    background-color: var(--white);
    /* font-size: clamp(1.2rem, 1.2rem + 1vw, 1.5rem); */
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.anbcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}
/* FOR THE LOGO RESPONSIVENESS */
.anblogo {
    width: clamp(100px, 11vw, 150px);
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .anblogo {
        width: 150px; /* Smaller width for tablet-sized screens */
    }
}

@media (max-width: 480px) {
    .anblogo {
        width: 100px; /* Smaller width for mobile screens */
    }
}
/* FOR THE LOGO RESPONSIVENESS */

.nav-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 85%;
    /* background-color: red; */
}
.anbcontain1, .anbcontain2 {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    width: 93%;
    justify-content: flex-end;
    /* background-color: #C28D3D; */
}
.anbcontain1 li, .anbcontain2 li:hover{
    transform: scale(1.05);
}
.anbcontain1 a {
    color: #696565;
    text-decoration: none;
    margin-inline: 3px;
}
.anbcontain2 a{
    color: black;
    text-decoration: none;
    margin-inline: 5px;
}
.anbcontain1 button, .anbcontain2 button {
    font-size: clamp(0.5rem, 0.9rem + 1vw, 1.2rem);
    border: none;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: transform 0.2s;
}
.anbcontain1 button {
    background-color: var(--grey);
    color: black;
}
.anbcontain2 button {
    background-color: var(--brown);
    color: var(--white);
}
.anbcontain1 button:hover, .anbcontain2 button:hover {
    transform: scale(1.05);
}
.anbcontain2 a svg {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 4px;
    margin-right: 1rem;
}

/* Mobile Menu Toggle */
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.menu-toggle .close-icon {
    display: none;
}

/* 1152px and below */
@media (max-width: 1152px) {
    .nav-wrapper {
        flex-direction: column;
        /* width: 100%; */
    }
    .anbcontain1, .anbcontain2 {
        justify-content: flex-end;
        font-size: 15px;
        /* background-color: #01ACF0; */
    }
    .anbcontain1 button, .anbcontain2 button{
        font-size: clamp(0.5rem, 0.5rem + 1vw, 0.8rem);
        border: none;
        border-radius: 25px;
        padding: 0.5rem 1rem;
    }
}

/* 800px and below */
@media (max-width: 805px) {
    /* .nav-wrapper {
        width: 100%;
        background-color: green;
    } */
    .menu-toggle {
        display: block;
        /* background-color: #00274D; */
    }
    .anbcontain1, .anbcontain2 {
        display: none;
        flex-direction: column;
        background-color: var(--white);
        position: absolute;
        top: 89%;
        left: 0;
        right: 0;
        width: 155.8px;
        padding: 1rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    .menu-toggle.active .open-icon {
        display: none;
    }
    .menu-toggle.active .close-icon {
        display: inline;
    }
    .menu-toggle.active + .nav-wrapper .anbcontain1,
    .menu-toggle.active + .nav-wrapper .anbcontain2 {
        display: flex;
    }
}


/* footer */
footer {
    scroll-snap-align: start;
    display: grid;
    background-color: #01ACF0; 
    width: 100%;
    grid-template-columns: 2fr 1fr 2fr;
    column-gap: 5px;
    font-size: clamp(16px, 2vw + 1rem, 20px);
    padding: 0rem 0;
}

.footer1, .footer2, .footer3 {
    padding: 1rem;
    /* background-color: brown; */
}

.footer1 {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: clamp(14px, 2vw + 1rem, 18px);
    font-weight: 400;
}

.footer1 img {
    width: clamp(100px, 10vw, 126px);
    height: auto;
}

.footer2 {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(14px, 2vw + 1rem, 18px);
    row-gap: 0.5rem;
}

.footer3 {
    font-size: clamp(14px, 2vw + 1rem, 18px);
    text-align: center;
    color: white;
    padding-top: 4rem;
}

.footer3container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    align-items: center;
}

.footer3container input[type="text"] {
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    font-size: 14px;
}

.inputsubmit {
    background-color: var(--brown);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.icon svg {
    transition: transform 0.3s;
    width: 24px;
    height: 24px;
}

.icon svg:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footerlast {
    grid-column: 1 / -1;
    background-color: #005076;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    color: white;
    font-size: clamp(12px, 2vw + 1rem, 16px);
}
.footerlast > span {
    font-weight: 500;
}

/* Responsive Adjustments */
@media (max-width: 830px) {
    footer {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
    .footer3container input[type="text"], .inputsubmit {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .footer1, .footer2, .footer3 {
        padding: 0.5rem;
    }
    .footer3container input[type="text"], .inputsubmit {
        font-size: 12px;
        padding: 0.3rem;
    }
    .icon svg {
        width: 20px;
        height: 20px;
    }
    .footerlast span {
        font-size: 12px;
    }
}
/* footer */

