<header class="anboardheader">
    <div class="anbcontainer">
        <img class="anblogo" src="/pictures/logo.png" alt="Logo">
        <div class="menu-toggle" onclick="toggleMenu()">
            <span class="open-icon">&#9776;</span>
            <span class="close-icon">&#10006;</span>
        </div>
        <div class="nav-wrapper">
            <ul class="anbcontain1">
                <li><a href="#">News</a></li>
                <li><a href="#">Corporate Partners</a></li>
                <li><a href="#">Events</a></li>
                <a href="/login"><button>Member Login</button></a>
            </ul>
            <ul class="anbcontain2">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Membership</a></li>
                <a href="#"><svg width="30" height="30" viewBox="0 0 23 23" fill="none">
                    <circle cx="9" cy="9" r="5" stroke="black" stroke-width="2"></circle>
                    <line x1="13" y1="13" x2="21" y2="21" stroke="black" stroke-width="2"></line>
                </svg></a>
                <li><a href="#"><button>Become a member</button></a></li>
            </ul>
        </div>
    </div>
</header>
